* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a, a:link {
    color: $color-base-black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(51, 182, 121);
    .container {
        padding: 0 16px;
    }
}

.fa-icon {
    vertical-align: middle;
    margin-right: 2px;
}